/* components/privacy/index.wxss */

.privacy {
    /* css var
    --disagree-button-color
    --disagree-button-background
    --agree-button-color
    --agree-button-background
    --content-text-color
    */

    width: 640rpx;
    background: #fff;
    border-radius: 20rpx;

    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120rpx;

        &--title {
            font-size: 30rpx;
            font-family:
                PingFangSC-Semibold,
                PingFang SC;
            font-weight: 600;
            color: #31353b;
            line-height: 42rpx;
        }
    }

    &__content {
        padding: 0 50rpx;

        &--text {
            font-size: 26rpx;
            font-family:
                PingFangSC-Regular,
                PingFang SC;
            font-weight: 400;
            color: var(--content-text-color, var(--text-color, #666666));
            line-height: 38rpx;

            // &.contract {
            //     --text-color: var(--contract-text-color, #ffaf18);
            // }
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 48rpx 0;

        &--button {
            width: 240rpx;
            height: 80rpx;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
            border: 0;
            border-radius: 12rpx;
            font:
                600 32rpx/44rpx PingFangSC-Semibold,
                PingFang SC;

            &::after {
                display: none;
            }

            &.hover {
                opacity: 0.9;
            }
        }

        .disagree {
            color: var(--disagree-button-color, #909399);
            background: var(--disagree-button-background, #f4f4f5);
        }

        .agree {
            margin-left: 26rpx;
            color: var(--agree-button-color, #fff);
            background: var(--agree-button-background, #191a1d);
        }
    }
}
